<div class="row center">
	<div class="col s12 m10 l8 offset-l2 offset-m2">

		<div>
			<div class="row valign-wrapper">
				<div class="col s6">
					<img src="https://lh5.googleusercontent.com/-OpwyZzvFk_k/AAAAAAAAAAI/AAAAAAAAAAA/AGDgw-jI12oMjxDrd4QiQFYOH8bH4j5pMw/s96-c/photo.jpg" alt="" class="circle responsive-img right">
				</div>
				<div class="col s6">
					<span class="black-text left">
						<h5>Anuj Sharma</h5>
					</span>
				</div>
			</div>
		</div>

		<app-medium-editor placeholder="Title"></app-medium-editor>
		<app-medium-editor placeholder="Type your content"></app-medium-editor>
	</div>
</div>