<div class="container">
  <h3 class="center-align">Welcome To Blogs</h3>
  <h5 class="center-align grey-text">The better you write, the more you will be known</h5>
  <p class="grey-text center-align">Best writer will be rewarded at the end of each semester</p>
  <div class="center-align" *ngIf="blogs.length == 0">
    <h2>NO BLOGS ARE PUBLISHED YET</h2>
    <h4 class="grey-text">Be the first one to write</h4>
  </div>
  <div class="card z-depth-0" *ngFor="let blog of blogs">
    <div routerLink="{{blog._id}}" class="card-content pointer">
      <span class="card-title" [innerHTML]="blog.blogTitle"></span>
      <p class="grey-text" [innerHTML]="blog.blogContent"></p>
    </div>
    <div class="card-action">
      <div class="col s12">
        <app-react>favorite</app-react>
        <app-react>message</app-react>
        <span class="right">By: <a href="#" class="black-text">{{blog.userId.username}}</a></span>
      </div>
    </div>
  </div>
</div>