<div class="card z-depth-0">
  <div class="card-content">
    <span class="card-title">Comments</span>

    <p *ngIf="comments.length === 0">There are no comments, be the first one to comment</p>
    <blockquote *ngFor="let comment of comments">
      <h6>{{ comment.content }}</h6>
      <span class="grey-text">By: {{ comment.userId.username }} 2min ago</span>
    </blockquote>

  </div>
</div>

<div>
  <label for="comment">Add Comment</label>
  <input id="comment" type="text" autocomplete="off" (change)="commentChanged($event)" name="comment">
</div>
<button class="btn z-depth-0 my-btn black-text" (click)="onSubmit()">Submit</button>