<div class="container">
  <h5 class="center-align">Upload question paper</h5>

  <form class="col s12 l6 offset-l3 m8 offset-m2">
    <div class="row">

      <div class="col s12">
        <label>Select Branch</label>
        <select class="browser-default" ngModel name="branch" required>
          <optgroup label="B. Tech">
            <option value="1">C.E</option>
            <option value="2">IT</option>
            <option value="3">ECE</option>
            <option value="4">EE</option>
            <option value="5">ME</option>
            <option value="6">PIE</option>
          </optgroup>
          <optgroup label="M. Tech">
            <option value="1">C.E</option>
            <option value="2">IT</option>
            <option value="3">ECE</option>
            <option value="4">EE</option>
            <option value="5">ME</option>
            <option value="6">PIE</option>
          </optgroup>
          <optgroup label="MCA">
            <option value="1">C.E</option>
            <option value="2">IT</option>
            <option value="3">ECE</option>
            <option value="4">EE</option>
            <option value="5">ME</option>
            <option value="6">PIE</option>
          </optgroup>
        </select>
      </div>

      <div class="col s12">
        <label>Select semester</label>
        <select class="browser-default" ngModel name="semester" required>
          <optgroup label="B. Tech">
            <option value="1">1st semester</option>
            <option value="2">2nd semester</option>
            <option value="3">3rd semester</option>
            <option value="4">4th semester</option>
            <option value="5">5th semester</option>
            <option value="6">6th semester</option>
            <option value="7">7th semester</option>
            <option value="8">8th semester</option>
          </optgroup>
          <optgroup label="M. Tech">
            <option value="9">1st semester</option>
            <option value="10">2nd semester</option>
            <option value="11">3rd semester</option>
            <option value="12">4th semester</option>
          </optgroup>
          <optgroup label="MCA">
            <option value="13">1st semester</option>
            <option value="14">2nd semester</option>
            <option value="15">3rd semester</option>
            <option value="16">4th semester</option>
          </optgroup>
        </select>
      </div>

      <div class="col s6">
        <label for="name">Subject name</label>
        <input id="name" type="text" class="validate" ngModel name="name" required>
      </div>

      <div class="col s6">
        <label for="code">Subject code</label>
        <input id="code" type="number" class="validate" ngModel name="code" required>
      </div>

      <div class="col s12">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" required>
          </div>
        </div>
      </div>

    </div>

    <button class="btn z-depth-0 my-btn black-text">Upload</button>
  </form>

</div>