.screen-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p {
	margin-bottom: 0;
}

h1 {
	margin-top: 0;
}

input, textarea{
	border: 1px solid black !important;	
	padding-left: 3px !important;
	padding-right: 3px !important;
}

input:focus, textarea:focus, input.valid, textarea.valid, input.invalid, textarea.invalid{
	border-bottom: 1px solid black !important;
	box-shadow: none !important;
}

select{
	border: 1px solid black;
}

label{
	color: black;
}

input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid, select.ng-touched.ng-invalid{
	border: 1px solid red !important;
}

input.ng-touched.ng-valid, textarea.ng-touched.ng-valid, select.ng-touched.ng-valid{
	border: 1px solid green !important;
}
