/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import '~materialize-css/sass/materialize.scss';

html{
	font-family: 'Cabin';
}

#toast-container {
  top: 10%;
  right: 7%;
  bottom: auto !important;
  left: auto !important;
}

.my-btn {
	background-color: transparent;
	border: 1px solid black;
}

.my-btn:hover{
	background-color: black;
	color: white !important;
}

.my-btn:focus{
	background-color: transparent;
	color: black !important;
}